.nav-bar{
    height: 102px;
    width: 1440px;
    /* border: 2px solid black; */
    font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.nav-div{
    display: flex;
    margin: 20px 150px;
    text-align: center;
    height: 62px;
    width: 1160px;
    
    /* height: 102px;
    width: 1440px;
    border: 2px solid black;
    font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal; */
   
}
.menu{
    display: none;
    height: 100px;

}
.first-vanue{
   display: flex; 
   margin-right: 186px;
}
.second-vanue{
    display: flex;
    margin-right: 300px;
}
.school {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.home{
    height: 30px;
    width: 58px;
    color:orange
}
.about{
    height: 30px;
    width: 57px;
    color: skyblue;
}
.facilities{
    height: 30px;
    width: 80px;
    color: #05D4DF;
}
.admission{
    height: 30px;
    width: 96px;
    color: #5D58EF;
}
.btn-first{
    height: 50px;
    width: 197px;
    color: white;
    background-color: orange;
    border-radius: 12px;
    border: none;
    /* margin-right: 141px; */
   
}
.menu{
    display: none;
    height: 50px;
    width: 50px;
}
/* first section aikhane ses */
.section-second{
    height: 576px;
    width: 1200px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 141px;
    gap: 50px;
    
}
.btn-second{
    height: 50px;
    width: 197px;
    background-color: black;
    border-radius: 12px;
    color: white;
}
.empower{
    font-size: 56px;
    font-weight: 800;
    color: orange;

}
.empower-2{
    font-size: 56px;
    font-weight: 800;

}
.towards{
    font-size: 56px;
    font-weight: 800;
    color: skyblue;
    
}
.sc-div-1{
    border: 122px 50px 122px 0px;
}
.section-third{
    background-image:url(/assets/bg.png) ;
    height: 900px;
    width: 1440px;
    /* border: 2px solid black; */
    justify-content: center;
    align-items: center;
    text-align: center;

}
.section-heading{
    margin: 60px 490px ;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container-1{
    
   justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 18px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 30px 0 rgba(222, 245, 255, 1);
    opacity: 100%;
    height: 400px;
    width: 368px;
    padding: 14px;
}


.read-1{
   color: #64C8FF; 
}
.read-2{
    color: orange;
    
}
.read-3{
    color: #8700FF;
}
.container-2{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
    width: 368px;
    border-radius: 18px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 30px 0 rgba(255, 244, 220, 1);
    opacity: 100%;
}
.container-3{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
    width: 368px;
    border-radius: 18px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 30px 0 rgba(242, 232, 255, 1);
    background: linear-gradient(to bottom, #ffffff, #f9f9ff);
    opacity: 100%;
}
.box{
    margin: 150px 140px 100px 140px;
    display: flex;
}
.small{
    height: 20px;
    width: 20px;
    padding-top: 20px;
}
.big{
    height: 20px;
    width: 25px;
    padding-top: 20px;
}
.ball{
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    margin: 0px 655px 60px 655px;
}
.ball-1{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: orange;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ball-2{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: orange;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
/* section fourth */
.section-fourth{
    background-image: url(/assets/bg.png);
    height: 1018px;
    width: 1440px;
    /* border: 2px solid black; */
   

}
.title-section-fourth{
    margin: 60px 490px 80px 490px;
    text-align: center;
    justify-items: center;
}
.container-last{
    display: flex;
    
    gap: 20px;
    margin: 0px 140px 50px 140px;
}
.second{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    height: 622px;
    width: 500px;

    /* background-color: white;
    box-shadow: 0 4px 30px 0 rgba(0,0,0,0.6);
    opacity: 100%;
    height: 630px;
    width: 540px;
    padding: 14px;
    border-radius: 18px; */
}
.btn-third{
    height: 50px;
    width: 197px;
    background-color: black;
    color: white;
    border-radius: 12px;
    justify-content: center;
    margin: 80px 620px 60px 620px;
}
.last-container-1{
    /* height: 630px;
    width: 540px;
    border-radius: 16px;
    background-color: 0 4px 30px 0 rgba(0,0,0,0.01); */

    background-color: white;
    box-shadow: 0 4px 30px 0 rgba(0,0,0,0.6);
    opacity: 100%;
    height: 630px;
    width: 540px;
    padding: 14px;
    border-radius: 18px;
}
.last-container-2{
    height: 290px;
    width: 290px;
    /* border-radius: 16px; */
    background-color: 0 4px 30px 0 rgba(0,0,0,0.01);

    background-color: white;
    box-shadow: 0 4px 30px 0 rgba(0,0,0,0.6);
    opacity: 100%;
    /* height: 630px;
    width: 540px; */
    padding: 14px;
    border-radius: 18px;
}
.last-container-3{
    height: 290px;
    width: 290px;
    border-radius: 16px;
    background-color: 0 4px 30px 0 rgba(0,0,0,0.01);

    background-color: white;
    box-shadow: 0 4px 30px 0 rgba(0,0,0,0.6);
    opacity: 100%;
    /* height: 630px;
    width: 540px; */
    padding: 14px;
    border-radius: 18px;
}
.last-container-4{
    height: 290px;
    width: 290px;
    border-radius: 16px;
    background-color: 0 4px 30px 0 rgba(0,0,0,0.01);

    background-color: white;
    box-shadow: 0 4px 30px 0 rgba(0,0,0,0.6);
    opacity: 100%;
    /* height: 630px;
    width: 540px; */
    padding: 14px;
    border-radius: 18px;
}
.last-container-5{
    height: 290px;
    width: 290px;
    border-radius: 16px;
    background-color: 0 4px 30px 0 rgba(0,0,0,0.01);

    background-color: white;
    box-shadow: 0 4px 30px 0 rgba(0,0,0,0.6);
    opacity: 100%;
    /* height: 630px;
    width: 540px; */
    padding: 14px;
    border-radius: 18px;
}
.hide{
    display: none;
}
.footer{
    background-color: #01ACFD;
    height: 520px;
    width: 1440px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}
.final-div{
    margin: 123px 128px 174px 140px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
    
}
.musk{
    display: inline;
}
.logo{
    display: inline;
}


/* responsive media query */

@media screen and (max-width:576px) {
    .nav-bar {
        /* display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        border-bottom: 2px solid orange;  */
       
        height: 100px;
        width: 500px;
        border-bottom: 2px solid orange;
        border-top: none;
        border-left: none;
        border-right: none;
       
    }
    .nav-div{
        display: flex;
        flex-direction: row;
        margin-left: 0px;
        height: 100px;
        width: 100px;
    }
    .school{
        display: none;
    }
     .second-vanue{
        display: none;
     }
     .btn-first{

        display: none;
     }
     .image{
        display: flex;
     }

    .first-vanue{
        display: block;
        height: 100px;
        width: 200px;
        
    }
    .menu{
        display: block;
        padding-left: 350px;
    }
    .second-vanue{
        display: none;
    }
    
    .section-second{
      display: flex;
      position: relative;
      margin: 16px;
      flex-direction: column-reverse;
      height: 725px;
      width: 357px;
      margin-top: 300px;
      border: none;
      margin-bottom: 100px;
    }
    .section-third{
        display: flex;
        flex-direction: column;
        height: 990px;
        width: 357px;
        margin: 700px 490px 60px 0px;
        border: none;
    }
    .section-heading{
       margin: none;
    }
    .box{
        display:flex;
        flex-direction: column;
        margin-top: 100px;
    }
    .section-fourth{
       display: flex;
       flex-direction: column;
       border: none;
       margin-left: 0px;
       width: 396px;
       
    
    }
    .title-section-fourth{
        margin-left: 0px;
        padding-top: 300px;
        height: 27px;
        width: 390px;
        text-align: start;
        justify-content: start;
        align-items:start;
        padding-left: 100px;
    }
    .container-last{
        display: flex;
        flex-direction: column;
        margin-top: none;
        height: 1913px;
        width: 390px;
        padding: 0px;
        margin-left: 0px;
    }
    .second{
        display: flex;
        flex-direction: column;
    }
    .last-container-1{
        display: none;
        height: 300px;
        width: 300px;
        margin-top: 50px;
        
    }
    .img{
        height: 50px;
        width: 50px;
    }
    /* .last-btn{
        display: flex;
        flex-direction: column;
    } */
     .last-btn{
        display: none;
     }
     .second{
        display: grid;
        grid-template-columns: 2, 1fr;
        width: 200px;
        height: 300px;
     }
     .footer{
        height: 1000px;
        width: 390px;
        display: flex;
        flex-direction: column;
        margin-top: 200px;
     }
     .final-div{
        display: flex;
        flex-direction: column;
     }
}






